################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Trips/.vs/TripsS/copilot-chat/c0ff1fb6/sessions
./vs
/Trips/.vs/TripsS/FileContentIndex/040e95c3-df0e-4963-af89-f766cb5a3100.vsidx
