################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Trips/.vs/TripsS/copilot-chat/c0ff1fb6/sessions
